html, body, ul, div, img, h1, a, li {
  padding:0;
	margin:0;
}

html, body {
  font-family: "Lato";
  font-weight: 300;
  color: #636363;
}

a, a:visited, a:active {
  text-decoration: none;
}

::selection {
  background: #B5FFFC;
}
::-moz-selection {
  background: #B5FFFC;
}

.intro a {
  color: #636363;
  border-bottom: 2px #636363 solid;
  padding-bottom: 2.5px;
}

.intro a:hover {
  border-bottom: 2px #8BC6EC solid;
  padding-bottom: 2.5px;
  color: #636363;
}

.action {
  display: block;
  position: absolute;
  margin-top: 20px;
  padding: 5px 13px 7px 13px;
  border: 2px solid #333;
  color: #636363;
  font-weight: 300;
  font-size: 17px;
}

.action:hover {
  /*background-color: #8BC6EC;*/
  border: 2px #8BC6EC solid;
  /*color: #FFF;*/
}

.bold {
  font-weight: 700;
}

.desc {
  position: absolute;
  width: 470px;
  margin: 235px auto 0 auto;
  left: 0;
  right: 0;
}

.intro {
  font-size: 25px;
}

.graident {
  background: linear-gradient(300deg, #8BC6EC, #9599E2);
	background-size: 800% 800%;
	-webkit-animation: GradientMotion 6s ease infinite;
	-moz-animation: GradientMotion 6s ease infinite;
	-o-animation: GradientMotion 6s ease infinite;
	animation: GradientMotion 6s ease infinite;
}

#name-box {
  font-family: "Lato";
  font-style: italic;
  font-size: 30px;
  color: #FFF;
  padding: 30px 0 25px 23px;
}

.wave {
  margin-left: 7px;
}

.icon {
  color: #636363;
  margin-right: 25px;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: translateY(8px);
  -o-transition-duration: translateY(8px);
  transition-duration: 0.3s;

  -webkit-transition-property: transform;
  -moz-transition-property: translateY(8px);
  -o-transition-property: translateY(8px);
  transition-property: transform;

  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: translateY(8px);
  -o-transition-timing-function: translateY(8px);
  transition-timing-function: ease-out;
}
.icon:hover, .icon:focus, .icon:active {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
}

.fa-github {
  color: #333;
}

.fa-twitter {
  color: #1EA1F2;
}

.fa-facebook {
  color: #3b5998	;
}

.fa-instagram {
  color: #c13584;
}

/* Graident */
@-webkit-keyframes GradientMotion {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientMotion {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientMotion {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media screen and (max-width: 540px) {
	.desc {
		width: calc(100% - 40px);
    margin: 200px auto 0 auto;
	}

  .intro {
    font-size: 20px;
  }

  #name-box {
    font-size: 23px;
  }

}

@media screen and (max-width: 320px) {
  .intro {
    font-size: 17px;
  }

  #name-box {
    font-size: 18px;
  }

}
